<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Sign In</title>
</head>
<body>
    <div class="container" id="sign-in-up">
        <!-- <h1>SING IN</h1> -->
        <h2 id="sign-in-up-title">Sign in</h2>
        <form onsubmit="sConsole(event)">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" />
                <label class="form-label" for="form1Example1">Email address</label>
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" />
                <label class="form-label" for="form1Example2">Password</label>
            </div>
        
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                        <label class="form-check-label" for="form1Example3"> Remember me </label>
                    </div>
                </div>
            
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg col-12" id="sign-in-btn">Sign in</button>
            
            <!--  -->
            <div class="col-12" id="has-account-link">
                <!-- Simple link -->
                <a href="/sign-up">Doesn't have an account? Sign up here.</a>
            </div>
        </form>
    </div>
    <script>
        function sConsole(event) {
            event.preventDefault();

            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            var param = "email="+email+"&"+"password="+password;

            fetch('/users/sign-in?'+param, {
            method: 'POST',
            mode: 'cors',
            headers: {
                 'Content-type': 'text/plain;charset=UTF-8'
            }})
            .then(function (response) {
                if (response.ok) {
                    //console.log("response: \n"+response.text);
                    return response.json;
                }
                return Promise.reject(response);
            })
            .then(function (data) {
                console.log("data: \n"+data);
                window.location.href = "/";
            })
            .catch(function (error) {
                console.warn('Something went wrong.', error);});
        }
    </script>
</body>
</html>