<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <title>Sign Up</title>
</head>
<body>
    <div id="cookiesWarning" style="position:absolute; width: 100%; height: 100%; z-index: 10;">
        <div style="position: absolute; width: 100%; height: 100%; z-index: 11; background-color: black; opacity: 30%;"></div>
        <div class="mx-auto" style="position: relative; margin-top: 30px; width: 200px; height: 200px; background-color: blue; z-index: 12;">
            <p class="text-center" style="color: aliceblue;">ESSE WEBSITE USA COOKIES</p>
            <button onclick="acceptCookies()">aceitar</button>
            <button onclick="denyCookies()">Deny</button>
        </div>
    </div>
    
    <nav th:replace="fragments/header.html :: th-navbar"></nav>
    
    <div class="container mx-auto" id="sign-in-up">
        <!-- <h1>SING IN</h1> -->
        <h2 id="sign-in-up-title">Sign up</h2>
        <form onsubmit="sConsole(event)">
            <!-- First name input -->
            <div class="form-outline mb-2">
                <input type="text" id="firstName" class="form-control" />
                <label class="form-label" for="form1Example1">First name</label>
            </div>

            <!-- Last name input -->
            <div class="form-outline mb-2">
                <input type="text" id="lastName" class="form-control" />
                <label class="form-label" for="form1Example1">Last name</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-2">
                <input type="email" id="email" class="form-control" />
                <label class="form-label" for="form1Example1">Email address</label>
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-2">
                <input type="password" id="password" class="form-control" />
                <label class="form-label" for="form1Example2">Password</label>
            </div>

            <!-- Birth input -->
            <div class="form-outline mb-2">
                <input type="text" id="dateOfBirth" class="form-control" />
                <label class="form-label" for="form1Example2">Date of birth</label>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg col-12" id="sign-up-btn" >CONFIRM</button>
            
            <!-- 1 column grid layout for inline styling -->
            <div class="row mb-2"> 
                <div class="col-12" id="has-account-link-div">
                    <!-- Simple link -->
                    <a id="has-account-link" href="/sign-in">Already have an account? Sign in here.</a>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer.html :: th-footer"></div>
    
    <script>
        window.onload = verifyCookie();
        
        var myCookie = {
            cookieStatus: "ok"
        };

        var myCookieJson = JSON.stringify(myCookie);

        function acceptCookies(){ // OK
            setCookie("myCookie", myCookieJson, "expires=Tue, 01 Jan 2115 12:00:00 UTC");
            
            var element = document.getElementById("cookiesWarning");
            element.parentNode.removeChild(element);
            
            console.log("cookies accepted.");
            console.log("cookie criado");
        }

        function denyCookies(){
            var element = document.getElementById("cookiesWarning");
            element.parentNode.removeChild(element);
            console.log("cookies denied.");
        }

        function verifyCookie() {
            
            var userCookie = getCookie("userCookie"); // Verifica cookies de usuário
            console.log("verificando userCookie...");

            if (userCookie != null) {
                console.log("user cookie exists.");
                
                userCookie = JSON.parse(userCookie.replace("expires=Tue, 01 Jan 2115 12:00:00 UTC", ""));
            
                if (userCookie.online==true) { // Verifica se tem um user online, se tiver redirect home page
                    userCookie = JSON.stringify(userCookie);
                    setCookie("userCookie", userCookie, "expires=Tue, 01 Jan 2115 12:00:00 UTC");
                    
                    console.log("user online. redirecting...");
                    window.location.href = "/"; // se user online redirect home page
                }else if(userCookie.rememberMe==true && userCookie.online==false){
                    userCookie.online == true; // se user offline mas remember me ativo = redirect home page
                    
                    userCookie = JSON.stringify(userCookie);
                    setCookie("userCookie", userCookie, "expires=Tue, 01 Jan 2115 12:00:00 UTC");
                    
                    console.log("remember me active. redirecting...");
                    window.location.href = "/";
                } 
            } else {
                console.log("userCookie não existe.");
            }

            var myCookie = getCookie("myCookie"); // Verifica aceitação de cookies
            
            if (myCookie != null) { //Se cookie existe
                var element = document.getElementById("cookiesWarning");
                element.parentNode.removeChild(element);//Não mostra botao para aceitar cookies
                console.log("cookie de aceitação existe.");
            } else
                console.log("cookie de aceitação não existe.");
        }

        function setCookie(name,value,expires) {
            var expireDate = expires;
            document.cookie = name + "=" + (value || "")  + expireDate + "; path=/";
        }
        
        function getCookie(name) {
            var cookieName = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') 
                    c = c.substring(1,c.length);
                if (c.indexOf(cookieName) == 0) 
                    return c.substring(cookieName.length,c.length);
            }
            return null;
        }
        
        function eraseCookie(name) {   
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

        function sConsole(event) {
            event.preventDefault();

            var payload = {
                firstName: document.getElementById("firstName").value,
                lastName: document.getElementById("lastName").value,
                email: document.getElementById("email").value,
                password: document.getElementById("password").value,
                dateOfBirth: document.getElementById("dateOfBirth").value
            };

            var payloadJson = JSON.stringify(payload); 

            console.log("payload: \n"+payloadJson);

            fetch('/users/sign-up', {
            method: 'POST',
            mode: 'cors',
            body: payloadJson,
            headers: {
                'Content-type': 'application/json'
            }})
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                }
                return Promise.reject(response);
            })
            .then(function (data) {
                setCookie("userCookie", JSON.stringify(data), "expires=Tue, 01 Jan 2115 12:00:00 UTC");
            
                window.location.href = "/sign-in";
            })
            .catch(function (error) {
                console.warn('Something went wrong.', error);});
        }
    </script>
</body>
</html>